@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary-1: #1a1a1a;
  --clr-primary-2: rgb(48, 48, 48);
  --clr-primary-3: rgb(177, 177, 177);
  --clr-secondary-1: rgba(182, 162, 107, 1);
  --clr-secondary-2: rgba(63, 56, 39, 1);
  --clr-secondary-3: rgba(224, 218, 203, 1);
  --clr-warning-1: rgba(107, 135, 182, 1);
  --clr-warning-2: rgba(182, 107, 119, 1);
  --clr-scrollbar-bg: rgb(241, 241, 241);
  --clr-scrollbar-thumb: rgba(182, 162, 107, 0.2);

  --ff-display: 'Merriweather', serif;
  --ff-body: 'Raleway', sans-serif;

  --transition: all 0.3s linear;
  --radius: 0.5rem;

  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@layer base {
  html,
  body,
  #__nuxt {
    /* @apply transition-all bg-white text-primary-100; */
    @apply transition-all bg-white md:overflow-hidden text-primary-100;
  }

  img {
    @apply block w-full;
  }

  h1 {
    @apply text-3xl md:text-4xl xl:text-5xl;
  }
  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }
  h3 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }
  h4 {
    @apply text-lg md:text-xl lg:text-xl;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold leading-tight tracking-wide font-display;
  }

  p,
  li {
    @apply text-sm font-normal leading-snug tracking-wide font-body md:text-base;
  }

  a {
    @apply text-primary-300;
  }

  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: var(--clr-scrollbar-bg);
    border-radius: 5px;
    margin-block: 8rem;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--clr-scrollbar-thumb);
    border-radius: 5px;
    border: none;
  }
}

@layer utilities {
  .site-padding {
    @apply max-w-screen-lg px-4 mx-auto sm:px-6 md:px-8 xl:px-12 xl:max-w-screen-xl;
  }
}
